
.ipynb_checkpoints/Scraping_Websites-checkpoint.ipynb
.ipynb_checkpoints/Hobby_Lobby_Scraping-checkpoint.ipynb
.ipynb_checkpoints/Target_Scraping-checkpoint.ipynb
.ipynb_checkpoints/At_Home_Scraping-checkpoint.ipynb
.ipynb_checkpoints/At_Home_Item_Scraping-checkpoint.ipynb
.ipynb_checkpoints/Cleaning_Data-checkpoint.ipynb
.ipynb_checkpoints/
__pycache__/important.cpython-310.pyc
important.py
.ipynb_checkpoints/Cleaning_Data-checkpoint.ipynb
